<!-- Current File -->
<div id="file" class="col-span-8 overflow-x-auto">
    {{ template "file.html" . }}
</div>

<!-- Dir Column -->
<div class="col-span-2">
    <h1 class="font-semibold mb-4 text-xl">Files</h1>
    <div id="dir" class="border border-github-dark rounded-lg bg-github-dark">
        {{ range $index, $tree := .Tree }}
            {{ if eq .URL "deleted" }} 
                <!-- Displays deleted files -->
                <button 
                    class="file-button
                        block p-3 w-full text-left hover:bg-github-dark-secondary border-b border-github-dark truncate"
                >
                    {{.Path}}
                    <span class="text-github-dark-red">deleted</span>
                </button>
            {{ else }}
                <!-- Normal File -->
                <button 
                    hx-post="/fetch-file" 
                    hx-target="#file" 
                    hx-vals='{"url": "{{.URL}}", "path": "{{.Path}}", "patch": "{{.Patch}}"}' 
                    onclick="highlightFile(this)"
                    class="file-button
                        block p-3 w-full text-left hover:bg-github-dark-secondary border-b border-github-dark truncate
                        {{ if eq $.Path $tree.Path }}
                            bg-github-dark-secondary
                        {{end}}"
                >
                    {{$tree.Path}}
                    
                    <!-- Display Number of Modifications -->
                    {{ if $tree.Deletions }} 
                        <span class="text-github-dark-red">-{{$tree.Deletions}}</span>
                    {{end}}
                    {{ if $tree.Additions }}
                        <span class="text-github-dark-green">+{{$tree.Additions}}</span>
                    {{end}}
                </button>
            {{end}}
        {{end}}
    </div>
</div>
