{{define "content"}}
<div class="container px-8 py-8 text-github-dark max-w-full">
    <!-- Search Bar -->
    <form hx-post="/fetch-repo" hx-target="#repo" class="mb-6">
        <input value="a-h/templ" type="text" name="repoURL" placeholder="Enter user/repo" class="p-2 border rounded w-full border-github-dark bg-github-dark-secondary focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
    </form>

    <div id="repo" class="grid grid-cols-12 gap-4">
        <!-- Search puts stuff here -->
    </div>
</div>

<script>
    function highlightCommit(commitElement) {
        // Remove highlight from all commits
        document.querySelectorAll('.commit-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary');
        });

        // Highlight the clicked commit
        commitElement.classList.add('bg-github-dark-secondary');
    }

    function highlightFile(commitElement) {
        // Remove highlight from all commits
        document.querySelectorAll('.file-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary');
        });

        // Highlight the clicked commit
        commitElement.classList.add('bg-github-dark-secondary');
    }

    function selectFile(buttonElement) {
        document.querySelectorAll('.file-content').forEach(function(btn) {
            btn.classList.remove('hidden');
        });

        document.querySelectorAll('.file-changes').forEach(function(btn) {
            btn.classList.add('hidden');
        });

        document.querySelectorAll('.select-changes-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary');
        });

        document.querySelectorAll('.select-file-button').forEach(function(btn) {
            btn.classList.add('bg-github-dark-secondary');
        });

    }

    function selectChanges(buttonElement) {
        document.querySelectorAll('.file-content').forEach(function(btn) {
            btn.classList.add('hidden'); 
        });

        document.querySelectorAll('.file-changes').forEach(function(btn) {
            btn.classList.remove('hidden'); 
        });

        document.querySelectorAll('.select-file-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary');
        });

        document.querySelectorAll('.select-changes-button').forEach(function(btn) {
            btn.classList.add('bg-github-dark-secondary');
        });

    }
</script>
{{end}}
