{{define "content"}}
<div class="container px-8 py-8 text-github-dark max-w-full">
    <!-- Search Bar -->
    <form hx-post="/fetch-repo" hx-target="#repo" class="mb-6">
        <input value="a-h/templ" type="text" name="repoURL" placeholder="Enter user/repo" class="p-2 border rounded w-full border-github-dark bg-github-dark-secondary focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
    </form>

    <div id="repo" class="grid grid-cols-12 gap-4">
        <!-- Search puts stuff here -->
    </div>
</div>

<script>
    function highlightCommit(commitElement) {
        console.log("HIT")
        // Remove highlight from all commits
        document.querySelectorAll('.commit-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary'); // 'highlighted-commit' is a CSS class you define
        });

        // Highlight the clicked commit
        commitElement.classList.add('bg-github-dark-secondary');
    }

    function highlightFile(commitElement) {
        console.log("HIT2")
        // Remove highlight from all commits
        document.querySelectorAll('.file-button').forEach(function(btn) {
            btn.classList.remove('bg-github-dark-secondary'); // 'highlighted-commit' is a CSS class you define
        });

        // Highlight the clicked commit
        commitElement.classList.add('bg-github-dark-secondary');
    }
</script>
{{end}}
