<!-- Commits Column -->
<div class="col-span-2">
    <h1 class="font-semibold mb-4 text-xl">Commits</h1>
    <div id="commitsList" class="border border-github-dark rounded-lg bg-github-dark">
        {{ range $index, $rc := .RawCommits }}
        <button 
            hx-post="/fetch-dir" 
            hx-target="#dir" 
            hx-vals='{"url": "{{.URL}}"}' 
            onClick="highlightCommit(this)"
            class="commit-button block p-3 w-full text-left hover:bg-github-dark-secondary border-b border-github-dark truncate {{ if eq $index 0 }}bg-github-dark-secondary{{end}}"
        >
            {{$rc.Commit.Message}}
        </button>
        {{end}}
    </div>
</div>

<!-- Current File -->
<div id="file" class="col-span-8 overflow-x-auto">
    {{ template "file.html" . }}
</div>

<!-- Files Column -->
<div class="col-span-2">
    <h1 class="font-semibold mb-4 text-xl">Files</h1>
    <div id="dir" class="border border-github-dark rounded-lg bg-github-dark">
        {{ range $index, $tree := .Tree }}
            <button 
                hx-post="/fetch-file" 
                hx-target="#file" 
                hx-vals='{"url": "{{.URL}}", "path": "{{.Path}}", "patch": "{{.Patch}}"}' 
                onclick="highlightFile(this)"
                class="file-button block p-3 w-full text-left hover:bg-github-dark-secondary border-b border-github-dark {{if eq $index 0}}bg-github-dark-secondary{{end}}"
            >
                {{$tree.Path}}
                
                {{ if $tree.Deletions }} 
                    <span class="text-github-dark-red">-{{$tree.Deletions}}</span>
                {{end}}
                {{ if $tree.Additions }}
                    <span class="text-github-dark-green">+{{$tree.Additions}}</span>
                {{end}}
            </button>
        {{end}}
    </div>
</div>
